# Editor specific files
.vscode/
.idea/

# System files
.DS_Store

# Project specific files
buf.gen.yaml

# Ignore 'target' directory in any subdirectory
target/

# Ignore '.spkg' files in any subdirectory